{
   "prettier.semi": true,
   "prettier.singleQuote": true,
   "prettier.useTabs": true,
   "editor.formatOnSave": true,
   "editor.formatOnPaste": true,
   "prettier.jsxSingleQuote": true,
   "prettier.arrowParens": "avoid"
}